rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /media_items/{document} {
      allow read, write: if true;
    }
    match /playback_progress/{document} {
      allow read, write: if true;
    }
    match /cinecast_sessions/{document} {
      allow read, write: if true;
    }
  }
}
